.Weather {
  border: 2px solid hsla(0, 46%, 93%, 0.9);
  border-radius: 7px;
  padding: 40px;
  margin: 60px auto;
  max-width: 700px;
}

.Weather form {
  margin: 30px 10px 30px 10px;
}

.Weather .formControl {
  width: 100%;
  background-color: hsla(0, 46%, 93%, 0.3);
  border: none !important;
  border-radius: 6px !important;
  font-size: 18px;
  line-height: 1.9;
}

.Weather .btn {
  background-color: #df493b !important;
  border-color: #df493b !important;
}

.Weather h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.Weather h2 {
  text-align: center;
  font-size: 18px;
}

.Weather .currentTemp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Weather .temperature {
  font-size: 100px;
}

.WeatherTemperature .unit {
  position: relative;
  top: -50px;
  font-size: 20px;
}

.WeatherTemperature a {
  color: #df493b;
}

.Weather li {
  list-style: none;
  opacity: 0.7;
}

.WeatherInfo {
  font-family: "Quicksand", sans-serif;
}
